<h1>Home</h1>

<% user = User.find_by_id(session[:user_id]) %>
<h2>Tasks</h2>
<ul>

<% Task.all.each do |task| %>
	<% if task.user_id == user.id %>
		<li><%= task.title %></li>
	<% end %>
<% end %>

</ul>




