<!DOCTYPE html>
<html>
<head>
  <title>Tasklist</title>
</head>
<body>
	<div class="header">

	</div>

	<div class="sidebar">
		<ul>
			<% @all_task_lists.each do |list_item| %>
				<li><a href= <%= list_item %> > <%= list.item.title %> </a></li>
			<% end %>
		</ul>
	</div>

	<div class="footer">

	</div>

</body>
</html>